#keys{
    
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color:hsl(0, 7%, 16%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}